# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.sqlite3
*.db
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment & Secrets
.env
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp
